body{
    padding-top: 30px !important ;
    padding-left: 20% !important ;
    padding-right:20% !important;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

.menu{
    list-style-type: none;
}

li:not(.bar) {
   
    list-style: lower-roman;
} 

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }


.material-symbols-outlined{
    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48 ;

  width:30px;
  height:30px;

}

div#quote{
    width: 300px;
  height: 500px;
  background-color: yellow;
  border: 1px solid black;
  font-size: 40px;
  padding: 20px;
  

}
table{
    text-align: center;
    padding: 40px;
    border: none;
    width:100%;
    border-collapse: collapse;
}

h1{
    text-align: center;
    text-decoration-style:wavy ;
}

h1 a:hover{
    color:red;
}
h2{
    text-align: center;
}

p{
    text-align: justify;
}



.container-photo{
    display: flex;
    text-align: right;

}

